<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068098096627-0cvm925iphq18ddiek7cur48q7ro4df3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068098096627-0cvm925iphq18ddiek7cur48q7ro4df3</string>
	<key>API_KEY</key>
	<string>AIzaSyDTVppZXJqvEXIMm1EsL2maBbZZForiAYU</string>
	<key>GCM_SENDER_ID</key>
	<string>1068098096627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kazumanoha.StudyChinesePinyin</string>
	<key>PROJECT_ID</key>
	<string>studychinesepinyin-d44dd</string>
	<key>STORAGE_BUCKET</key>
	<string>studychinesepinyin-d44dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068098096627:ios:35ef5b1a01b9c40e78d686</string>
	<key>DATABASE_URL</key>
	<string>https://studychinesepinyin-d44dd.firebaseio.com</string>
</dict>
</plist>